workflows.json
[{"updatedAt":"2025-12-31T06:44:08.000Z","createdAt":"2025-11-30T19:53:28.684Z","id":"inYSXgCMi9cTrYvC","name":"Weather Fetcher","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"url":"={{   `https://api.open-meteo.com/v1/forecast?latitude=40.7128&longitude=-74.0060&daily=temperature_2m_max,temperature_2m_min,precipitation_sum,weathercode&timezone=auto&start_date=${$now.format('yyyy-MM-dd')}&end_date=${$now.format('yyyy-MM-dd')}` }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,0],"id":"145175a1-fbbb-4c4d-aa16-f78287174608","name":"HTTP Request"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"highTemperature\": \"{{ $json.daily.temperature_2m_max[0] }} {{ $json.daily_units.temperature_2m_max }}\",\n  \"lowTemperature\": \"{{ $json.daily.temperature_2m_min[0] }} {{ $json.daily_units.temperature_2m_min }}\",\n  \"weathercode\": \"{{ $json.daily.weathercode[0] }}\",\n  \"forecast\": \"Today’s weather forecast: ⛅ <br> Temperature: High {{ $json.daily.temperature_2m_max[0] }} {{ $json.daily_units.temperature_2m_max }} | Low {{ $json.daily.temperature_2m_min[0] }} {{ $json.daily_units.temperature_2m_min }} <br> Advice: It’s warm or sunny today — put on some sunscreen and bring your shades 😎\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,112],"id":"0fc32261-b2ab-48a6-a3a3-7af445fd1359","name":"Warm"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"highTemperature\": \"{{ $json.daily.temperature_2m_max[0] }} {{ $json.daily_units.temperature_2m_max }}\",\n  \"lowTemperature\": \"{{ $json.daily.temperature_2m_min[0] }} {{ $json.daily_units.temperature_2m_min }}\",\n  \"weathercode\": \"{{ $json.daily.weathercode[0] }}\",\n  \"forecast\": \"Today’s weather forecast: 🌧 <br> Temperature: High {{ $json.daily.temperature_2m_max[0] }} {{ $json.daily_units.temperature_2m_max }} | Low {{ $json.daily.temperature_2m_min[0] }} {{ $json.daily_units.temperature_2m_min }} <br> Advice: It’s cool or rainy today — bring a jacket 🧥 and an umbrella ☔\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,-112],"id":"03532628-9445-4362-ad1d-bd8edb603f5f","name":"Cold"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c9e978e4-38ed-49af-b905-58cd1045f14e","leftValue":"={{ $json.daily.temperature_2m_max[0] }}","rightValue":20,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[416,0],"id":"8974df8d-a2b0-4907-bcca-a328255f4678","name":"If"},{"parameters":{"sendTo":"dlondon.dev@gmail.com","subject":"Today's Weather Forecast","message":"={{ $json.forecast }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[816,0],"id":"24fe39a5-a9a2-4264-bb9f-324a7c251f01","name":"Send a message","webhookId":"6a5b91e5-14c3-4e71-b416-bfc2ccc3c170","credentials":{"gmailOAuth2":{"id":"XQmQVMr350qDkdal","name":"Gmail account 2"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[32,0],"id":"8832a4a2-249e-4936-b7bb-866db872fd53","name":"Schedule Trigger"}],"connections":{"HTTP Request":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Cold","type":"main","index":0}],[{"node":"Warm","type":"main","index":0}]]},"Cold":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Warm":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9b1452ed-8326-4991-ba60-c22b21d64870","versionCounter":7,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-11-30T19:53:28.694Z","createdAt":"2025-11-30T19:53:28.694Z","role":"workflow:owner","workflowId":"inYSXgCMi9cTrYvC","projectId":"4g1Cbhzq4jy9StNL","project":{"updatedAt":"2025-11-28T22:54:27.319Z","createdAt":"2025-11-28T22:52:21.353Z","id":"4g1Cbhzq4jy9StNL","name":"David London <dlondon.dev@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2026-01-03T03:41:19.000Z","createdAt":"2025-12-31T06:30:21.627Z","id":"9RSupfLLLpORmy8j","name":"Inbox Manager","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[0,0],"id":"8ce3fd8a-0ca3-4a2a-a577-83bab05386fd","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"XQmQVMr350qDkdal","name":"Gmail account 2"}}},{"parameters":{"inputText":"=Subject {{ $json.subject }}\nEmail body: {{ $json.text }}\nSender email: {{ $json.from.value[0].address }}\nSender name: {{ $json.from.value[0].name }}","categories":{"categories":[{"category":"Monitoring","description":"=Classify any message as Monitoring where the sender's name or email matches any of the following: - eval@site24x7.com - Site24x7\n\nClassify any message as Monitoring if it seems like a monitoring update"},{"category":"PRIORITY","description":"=Classify any message as PRIORITY where the sender's name or email matches any of the following sponsors: - team@user.hostinger.com Classify any message as PRIORITY if it seems important"},{"category":"Newsletter","description":"=Classify any message as Newsletter where the sender's name or email matches any of the following: - workatastartup@ycombinator.com - noreply@commonapp.org\n\nClassify any message that you think sounds like a newsletter as a newsletter"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[208,-16],"id":"f3589f09-769e-415d-bc9f-dab468c66633","name":"Text Classifier"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[208,208],"id":"bad66ae8-d40c-4382-9c58-18df4eea07a6","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"of8B1VCwUvAUqEaf","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_5185585966238196380"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[560,160],"id":"6911adda-d718-429e-b229-f0a9a2a33fa3","name":"Newsletter","webhookId":"191dbca2-60da-4c6f-a1f7-300f6e390954","credentials":{"gmailOAuth2":{"id":"XQmQVMr350qDkdal","name":"Gmail account 2"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_6753264117004208971"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[560,0],"id":"25c94950-f690-45a5-ad93-fabb7610e480","name":"Priority","webhookId":"191dbca2-60da-4c6f-a1f7-300f6e390954","credentials":{"gmailOAuth2":{"id":"XQmQVMr350qDkdal","name":"Gmail account 2"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_9220892997293252730"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[560,-160],"id":"d53caa77-2277-47e1-a2bd-47f322e3002e","name":"Monitoring","webhookId":"191dbca2-60da-4c6f-a1f7-300f6e390954","credentials":{"gmailOAuth2":{"id":"XQmQVMr350qDkdal","name":"Gmail account 2"}}},{"parameters":{"operation":"removeLabels","messageId":"={{ $json.id }}","labelIds":["INBOX"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[736,160],"id":"9fe60cd5-0f0b-47de-890f-d35765763ebd","name":"Remove label from message","webhookId":"af44e5a8-f392-4f9a-83a5-1113e049f25e","credentials":{"gmailOAuth2":{"id":"XQmQVMr350qDkdal","name":"Gmail account 2"}}},{"parameters":{"inputText":"=Subject {{ $json.Subject }}\nEmail body: {{ $json.snippet }}\nSender: {{ $json.From }}","categories":{"categories":[{"category":"Monitoring","description":"=Classify any message as Monitoring where the sender's name or email matches any of the following: - eval@site24x7.com - Site24x7\n\nClassify any message as Monitoring if it seems like a monitoring update"},{"category":"PRIORITY","description":"=Classify any message as PRIORITY where the sender's name or email matches any of the following sponsors: - team@user.hostinger.com Classify any message as PRIORITY if it seems important"},{"category":"Newsletter","description":"=Classify any message as Newsletter where the sender's name or email matches any of the following: - workatastartup@ycombinator.com - noreply@commonapp.org\n\nClassify any message that you think sounds like a newsletter as a newsletter"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[1840,-16],"id":"9d6ac39f-1ae5-487b-85b4-4afa0d6e7b5d","name":"Text Classifier1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1840,208],"id":"e881720b-9599-4f59-abb2-3afa6cd8f2ef","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"of8B1VCwUvAUqEaf","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_5185585966238196380"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2192,160],"id":"43a135fd-24c3-4523-8c68-fb90a42f9a9a","name":"Newsletter1","webhookId":"191dbca2-60da-4c6f-a1f7-300f6e390954","credentials":{"gmailOAuth2":{"id":"XQmQVMr350qDkdal","name":"Gmail account 2"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_6753264117004208971"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2192,0],"id":"830b22f7-6e3f-4c8e-b138-b018a6fdaeba","name":"Priority1","webhookId":"191dbca2-60da-4c6f-a1f7-300f6e390954","credentials":{"gmailOAuth2":{"id":"XQmQVMr350qDkdal","name":"Gmail account 2"}}},{"parameters":{"operation":"removeLabels","messageId":"={{ $json.id }}","labelIds":["INBOX"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2368,160],"id":"a3c1e50b-4694-4d31-ad35-897e48df921e","name":"Remove label from message1","webhookId":"af44e5a8-f392-4f9a-83a5-1113e049f25e","credentials":{"gmailOAuth2":{"id":"XQmQVMr350qDkdal","name":"Gmail account 2"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1488,0],"id":"db1b74e4-7dee-43b5-ba5a-6804078802b4","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"getAll","limit":10,"filters":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1664,0],"id":"0c9ad71c-f4b5-4601-97d6-7b4aefb23a96","name":"Get many messages","webhookId":"11751712-0240-4897-9532-ace3850c5422","credentials":{"gmailOAuth2":{"id":"XQmQVMr350qDkdal","name":"Gmail account 2"}}},{"parameters":{"content":"## Auto Categorize New Emails\n**Asign labels to each email to categorize and keep inbox organized.**","height":640,"width":1424,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-32,-224],"typeVersion":1,"id":"38b2f364-1fcd-4cf0-b5b4-afa16ff39830","name":"Sticky Note"},{"parameters":{"content":"## Auto Categorize Existing Emails\n**Asign labels to each email to categorize and keep inbox organized.**","height":640,"width":1168,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1424,-224],"typeVersion":1,"id":"17522f53-a95a-4bbc-a54e-2308a7add797","name":"Sticky Note1"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_9220892997293252730"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2192,-160],"id":"0f677bf0-dbcb-43c4-9f10-7649fbbcc9ee","name":"Monitoring1","webhookId":"191dbca2-60da-4c6f-a1f7-300f6e390954","credentials":{"gmailOAuth2":{"id":"XQmQVMr350qDkdal","name":"Gmail account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"0afa2dc8-442d-4e52-abec-fd0f00d38978","name":"threadId","value":"={{ $('Gmail Trigger').item.json.threadId }}","type":"string"},{"id":"5a77e54e-6421-49e8-8dcf-7a6b35b06169","name":"subject","value":"={{ $('Gmail Trigger').item.json.subject }}","type":"string"},{"id":"62c1b9b6-d9ae-4d36-97c4-f6d53d6405d4","name":"text","value":"={{ $('Gmail Trigger').item.json.text }}","type":"string"},{"id":"63991c75-78db-4bed-8cb0-ebaaedf17236","name":"sender","value":"={{ $('Gmail Trigger').item.json.to.value[0].address }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[736,0],"id":"38d4d415-e830-448a-b752-a563fb30b8ad","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=1. Analyze the context of the message: {{ $json.text }}\n2. Determine whether the message genuinely requires a reply. \n3. Do not create a draft for purely informational emails, updates, or messages that don’t need a response.\n4. If a reply is needed, generate a clear, context-appropriate draft email and use the Draft generator tool to create the email draft. \n5. Do not include AI message in the generated email draft.\n6. If no reply is needed, return “No reply needed.”","options":{"systemMessage":"You are an AI assistant that helps draft professional and natural-sounding replies to emails and message threads.\n\n### Instructions:\n1. Read the following message or thread carefully.\n2. Understand the sender’s intent, tone, and context.\n3. Create a well-written draft reply that:\n   - Matches the sender’s tone (formal, casual, or friendly)\n   - Addresses all points or questions mentioned\n   - Sounds natural and human, not robotic\n   - Keeps the response concise and polite\n\n### Output:\nDraft of the reply. Exclude message from AI."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[944,0],"id":"540cf7ec-6b4a-4ca5-9da3-43acad08abaa","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[912,256],"id":"a46a78aa-82b5-4bd3-977f-41a72b962d30","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"of8B1VCwUvAUqEaf","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.threadId }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1040,224],"id":"e0361c7f-59b6-4344-844b-eaa73d778949","name":"Simple Memory"},{"parameters":{"descriptionType":"manual","toolDescription":"Create a draft in Gmail","resource":"draft","subject":"={{ $json.subject }}","message":"={{ $fromAI('output', 'reply draft generated by AI agent') }}","options":{"threadId":"={{ $json.threadID }}","sendTo":"={{ $json.sender }}"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1136,160],"id":"75b67ec5-7549-43b6-bfcf-d50bc39bcdee","name":"Draft Generator","webhookId":"9c8d3129-0aac-42d8-9686-f5f675dc92a1","credentials":{"gmailOAuth2":{"id":"XQmQVMr350qDkdal","name":"Gmail account 2"}}}],"connections":{"Gmail Trigger":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Text Classifier":{"main":[[{"node":"Monitoring","type":"main","index":0}],[{"node":"Priority","type":"main","index":0}],[{"node":"Newsletter","type":"main","index":0}]]},"Priority":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Newsletter":{"main":[[{"node":"Remove label from message","type":"main","index":0}]]},"Text Classifier1":{"main":[[{"node":"Monitoring1","type":"main","index":0}],[{"node":"Priority1","type":"main","index":0}],[{"node":"Newsletter1","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Text Classifier1","type":"ai_languageModel","index":0}]]},"Newsletter1":{"main":[[{"node":"Remove label from message1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many messages","type":"main","index":0}]]},"Get many messages":{"main":[[{"node":"Text Classifier1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Draft Generator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1767411435,"possibleDuplicates":["19b81ee427654f4c"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"833d3934-d3b6-40a3-824b-367c85172322","versionCounter":35,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-31T06:30:21.645Z","createdAt":"2025-12-31T06:30:21.645Z","role":"workflow:owner","workflowId":"9RSupfLLLpORmy8j","projectId":"4g1Cbhzq4jy9StNL","project":{"updatedAt":"2025-11-28T22:54:27.319Z","createdAt":"2025-11-28T22:52:21.353Z","id":"4g1Cbhzq4jy9StNL","name":"David London <dlondon.dev@gmail.com>","type":"personal","icon":null,"description":null}}]}]